<div style="width: 500px; margin: auto;">
    <div *ngIf="currentCrypto" class="edit-form">
      <h4>Crypto</h4>
      <form>
        <mat-form-field class="form-group" appearance="fill">
          <label for="title">Ticker</label>
          <input matInput 
            type="text"
            class="form-control"
            id="ticker"
            [(ngModel)]="currentCrypto.ticker"
            name="ticker"
          />
    </mat-form-field>
    <mat-form-field class="form-group" appearance="fill">
          <label for="name">Name</label>
          <input matInput 
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="currentCrypto.name"
            name="name"
          />
        </mat-form-field>
        <mat-form-field class="form-group" appearance="fill">
            <label for="numberOfCoins">Number of coins</label>
            <input matInput
              type="text"
              class="form-control"
              id="numberOfCoins"
              [(ngModel)]="currentCrypto.numberOfCoins"
              name="numberOfCoins"
            />
        </mat-form-field>
          <mat-form-field class="form-group" appearance="fill">
            <label for="marketCap">Market capacity</label>
            <input matInput currencyMask
              type="text"
              class="form-control"
              id="marketCap"
              [(ngModel)]="currentCrypto.marketCap"
              name="marketCap"
            />
        </mat-form-field>
      </form>
  
      <button mat-stroked-button type="button" class="btn btn-danger" (click)="updateCrypto()" mat-dialog-close="true" >Update</button>
      <button mat-stroked-button type="button" class="btn btn-warning" mat-dialog-close="true">Cancel</button>

    </div>
  
  </div>