<div style="width: 500px; margin: auto;">
    <div class="submit-form">
      <div *ngIf="!isCryptoAdded">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" required [(ngModel)]="crypto.title" name="name" />
        </div>
  
        <div class="form-group">
          <label for="description">Description</label>
          <input class="form-control" id="description" required [(ngModel)]="crypto.description" name="description" />
        </div>
  
        <button (click)="addCrypto()" class="btn btn-success">Create</button>
      </div>
  
      <div *ngIf="isCryptoAdded">
        <h3>New Crypto added!</h3>
        <button class="btn btn-success" (click)="newCrypto()"> + Add More</button>
      </div>
    </div>
  </div>