<div style="width: 500px; margin: auto;">
    <div class="submit-form">
      <div *ngIf="!isCryptoAdded">

        <div>
          <label for="ticker">Ticker</label>
          <input matInput type="text" class="form-control" id="ticker" required [(ngModel)]="crypto.ticker" name="ticker" />
        </div>
        <div>
          <label for="name">Name</label>
          <input matInput type="text" class="form-control" id="name" required [(ngModel)]="crypto.name" name="name" />
        </div>
        <div>
          <label for="numberOfCoins">Number of Coins</label>
          <input mat-input type="text" class="form-control" id="numberOfCoins" required [(ngModel)]="crypto.numberOfCoins" name="numberOfCoins" />
        </div>
        <div>
          <label for="marketCap">Market Capacity</label>
          <input mat-input currencyMask class="form-control" id="marketCap" required [(ngModel)]="crypto.marketCap" name="marketCap" />
        </div>

        <button mat-stroked-button (click)="addCrypto()" mat-dialog-close="true" class="btn btn-success" >Create</button>
    </div>
    </div>
</div>