<div style="width: 500px; margin: auto;">
    <div *ngIf="currentCrypto" class="edit-form">
      <h4>crypto</h4>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="currentCrypto.name"
            name="name"
          />
        </div>
        <div class="form-group">
          <label for="shortname">Shortname</label>
          <input
            type="text"
            class="form-control"
            id="shortname"
            [(ngModel)]="currentCrypto.ticker"
            name="shortname"
          />
        </div>
  
      </form>
  
      <button type="button" class="btn btn-danger" (click)="updateCrypto()" >Update</button>
      <button type="button" class="btn btn-warning" (click)="deleteCrypto()">Delete</button>

    </div>
</div>